*{
	padding: 0;
	margin: 0;
	
}

#container{
	border-style: solid;
	border-color: blue;
	padding: 10px;
	margin-top: 10px;
	width: 600px;
	height: 450px;
}


#menuNav{
	width: 500px;
	height: 80px;
	
	border-color: blue;
	position: relative;
	margin-right: 100px;
	border-width: 10px;
	
	text-align: center;
	border-style: solid;
}



#sidebar{
	width: 100px;
	height: 300px;
	background-color: aqua;
	display: block;
	float: left;
	margin-top: 10px;
}

#body{
	width: 400px;
	height: 300px;
	background-color: green;
	display: block;
	float: left;
	text-align: center;
	margin-left: 10px;
	margin-top: 10px;
}